.header__phone-icon i {
    transform: rotate(90deg) !important;
    font-size: 1.2rem;
}

.header__phone-number a {
    color: #000000;
}
.header__phone-number {
    font-weight: 700;
}

.header__work-time {
    font-size: 0.8rem;
}

.header__location {
    font-weight: 700;
}

.header__location-icon i {
    font-size: 1.2rem;
}

.header__location-filial {
    font-size: 0.8rem;
    text-decoration: underline;
}

.header__lk .bg-light, .notify{
    background-color: transparent !important;
    color: #000;
}

.cart__image {
    align-self: self-end;
}

.header__lk {
    margin-top: -15px;
}

.header__lk a {
    color: #000000;
}

.sub__header ul {
    display: flex;
}

.footer__items {
    font-size: .8rem;
}

.footer__items a {
    color: #000000;
    text-decoration: underline;
}

.footer__social {
    display: flex;
    justify-content: flex-end;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.second-hand__items nav[role=navigation], .second-hand-last-day__items nav[role=navigation] {
    display: none;
}

.footer__social-links i {
    font-size: 1.3rem !important;
}

.product__slider {
    width: 40%;
}

.product__img {
    width: 100%;
    height: 100%;
}

.product__description {
    width: auto;
    flex-grow: 1;
}

.product__text_through {
    text-decoration: line-through;
}

.product__opacity {
    opacity: .5;
}

.product__button {
    cursor: pointer;
}

.product__time {
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.product__separate {
    font-size: 2.5rem;
}

.product__similar-product-slider .owl-prev,
.product__similar-product-slider .owl-next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 7px !important;
    display: inline-block;
    cursor: pointer;
    outline: 0;
}

.product__similar-product-slider .owl-prev:hover,
.product__similar-product-slider .owl-next:hover {
    background: none !important;
    color: #000 !important;
}

.product__similar-product-slider .owl-prev {
    left: -30px;
}

.product__similar-product-slider .owl-next {
    right: -30px;
}

.product__modal-button {
    padding: 10px 30px;
}

.product__modal-input {
    width: 70%;
    min-width: 250px;
}
